body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.feed {
  width: 75%;
}

.side {
  width: 25%;
}

.information td {
  padding: 10px;
  vertical-align: top;

}

.information {
  table-layout: fixed;
  border-collapse: collapse;
}

.card_scroll {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  max-height: 800px

}

.card_scroll::-webkit-scrollbar {
   display:none;
}

.right_column {
  float: right;
  width: 25%;
  padding-left: 10px;
}

.card_img{
  width: 95%;
  height: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}