body {
  font-family: Arial;
  background: #F3F4F5;
  margin: 0px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

#ions_logo {
  max-width:100%;
  max-height:100%;
}

.header {
  padding: 30px;
  height: 3em;
  font-size: 40px;
  text-align: center;
  background: #6C7781;
  box-shadow: 0 1px 0px black;
}

.feed {
  width: 75%;
}

.side {
  width: 25%;
}

.information td {
  padding: 10px;
  vertical-align: top;
}


.information {
  table-layout: fixed;
  border-collapse: collapse;
}

.card_img{
  width: 95%;
  height: 100%;
}

.card {
  border-radius: 2%;
  background-color: white;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 1px 1px 5px black;

}

.footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background: #ddd;
  text-align: left;
}
